.hereketli-reqem{
    width: 100%;
    height: 55vh;
    background-color: $primary-color;
    display: flex;
    color: $white-color;
    .ikimin-bes{
          align-items: center;
          margin-left: 100px;
    h1{
        font-size: 70px;
      margin-top: 110px;
        text-align: center;
    }
    p{
        font-size: 40px;
        text-align: center;
    }
}
.lorem{
    p{
        font-size: 20px;
        text-align: center;
       margin: 155px 0px 70px 70px;
       width: 100%;
      
      
    }
}
}
