@import 'partials/variables';   /*ne qeder import olarsa olsun hamisi burada yazilacaq*/
@import 'partials/navbar';
@import 'partials/section';
@import 'partials/ucuncusehife';
@import 'partials/hereketlireqem';
@import 'partials/sekiller';
@import 'partials/review';
@import 'partials/menu';
@import 'partials/booknow';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    align-items: center;
}